# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Django stuff:
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/static

# If using SQLite3, you can ignore the database file:
*.sqlite3

# Environments
.env
*.env

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Venv / Python:
env/
venv/
ENV/
ENV.bak/
VENV/

# Secrets
*.pem

# Django files
*.pot
*.pyc
__pycache__/

# Static files
/staticfiles/
/static/
/media/

# Unit test / coverage reports
htmlcov/
.tox/
noxfile
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# IDE / Editor configurations:
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# MacOS and Linux files
.DS_Store
*.swp
